# Machine Learning pt.3

##### Egy Vedriyanto
##### 2117051035

##Library

In [1]:
import numpy as np
import pandas as pd
import scipy as stats
from scipy.stats import chi2
from scipy.spatial.distance import cityblock, mahalanobis

## Dataset

In [2]:
#dataset pertama untuk perhitungan euclidean distance
P1 = np.array((4, 1))
P2 = np.array((1, 3))

#dataset kedua untuk perhitungan mahalanobis distance
X = np.array([[7.0, 165, 5], [7.4, 160, 5], [7.1, 170, 4], [7.3, 150, 5], [7.2, 160, 3], [7.1, 145, 3], [6.0, 100, 5]])

In [3]:
#info dataset
print(X.shape)
print(X.ndim)
print(X)

(7, 3)
2
[[  7.  165.    5. ]
 [  7.4 160.    5. ]
 [  7.1 170.    4. ]
 [  7.3 150.    5. ]
 [  7.2 160.    3. ]
 [  7.1 145.    3. ]
 [  6.  100.    5. ]]

## Calculate Distance

### Manhattan Distance

In [4]:
mht_dist = cityblock(P1, P2)
print(mht_dist)

5

###Euclidean Distance

In [5]:
#Hitung selisih antara dua vector
temp = P1 - P2

#gunakan formula euclidean di library numpy
euclid_dist = np.sqrt(np.dot(temp.T, temp))
print(np.dot(temp.T, temp))
print(euclid_dist)

13
3.605551275463989

###Mahalanobis Distance

In [6]:
#Hitung kovarians dan inverse kovarians dari dataset
cov = np.cov(X.T)
inv_cov = np.linalg.inv(cov)

#Dua data baru dalam dataset
x1 = np.array([7.1, 145, 3])
x2 = np.array([6.0, 100, 5])

#Hitung jarak Mahalanobis antara dua titik
mhlnbs_dist = mahalanobis(x1, x2, inv_cov)
print(mhlnbs_dist)

2.863641534625095

## Tugas 3 Machine Learning

### 1. Tentukan mahalanobis distance setiap row yang ada didata ini.

In [9]:
def Mahalanobis_dist(y=None, data=None, cov=None):
    y_mu = y - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
        inv_covmat = np.linalg.inv(cov)
        left = np.dot(y_mu, inv_covmat)
        mahalanobis = np.dot(left, y_mu.T)
    return mahalanobis.diagonal()

In [11]:
df = pd.DataFrame(X, columns=['diameter (f1)', 'berat (f2)', 'tingkat kemerahan (f3)'])
df

   diameter (f1)  berat (f2)  tingkat kemerahan (f3)
0            7.0       165.0                     5.0
1            7.4       160.0                     5.0
2            7.1       170.0                     4.0
3            7.3       150.0                     5.0
4            7.2       160.0                     3.0
5            7.1       145.0                     3.0
6            6.0       100.0                     5.0

### 2. Normalisasi hasil mahalanobis distance menggunakan perhitungan p-value

In [12]:
#Menghitung jarak mahalanobis pada setiap baris
df['Mahalanobis'] = Mahalanobis_dist(y=df, data=df[['diameter (f1)', 'berat (f2)', 'tingkat kemerahan (f3)']])

In [13]:
#Menghitung p-value untuk setiap jarak
df['p'] = 1 - chi2.cdf(df['Mahalanobis'], 3)

In [14]:
#Hasil print
df

   diameter (f1)  berat (f2)  tingkat kemerahan (f3)  Mahalanobis         p
0            7.0       165.0                     5.0     2.444376  0.485428
1            7.4       160.0                     5.0     1.940472  0.584853
2            7.1       170.0                     4.0     1.999789  0.572450
3            7.3       150.0                     5.0     2.301735  0.512189
4            7.2       160.0                     3.0     1.845689  0.605043
5            7.1       145.0                     3.0     2.483532  0.478275
6            6.0       100.0                     5.0     4.984406  0.172943